.banner-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.client-text {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 30px;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 20px;
  border-radius: 20px;
}

.contact-containr {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  max-width: 1100px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* Contact Form */

.contact-form {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form label {
  font-weight: bold;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #aaa;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
}

.contact-form button {
  background: linear-gradient(135deg, #1788ae, #1ecbe1);
  color: #fff;
  border: none;
  padding: 14px 28px;
  font-size: 1rem;
  border-radius: 12px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  will-change: transform;
  gap: 10px;
  max-width: max-content;
  font-weight: 600;
  box-shadow: 0 8px 20px rgba(23, 136, 174, 0.3);
  backdrop-filter: blur(4px);
  transition: all 0.3s ease;
  transform: translateY(0);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.contact-form button:hover {
  background: linear-gradient(135deg, #1ecbe1, #1788ae);
  transform: scale(1.1);
}

/* SUBMIT STATUS */
.contact-send-message {
  display: inline-block;
  margin-top: 14px;
  font-weight: 600;
  font-size: 1.1rem;
  color: #1788ae;
  animation: fadeSlideUp 0.6s ease-in-out;
  text-align: center;
  padding: 8px 16px;
  will-change: transform;
  border-radius: 8px;
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .contact-containr {
    flex-direction: column;
    gap: 30px;
  }
  .client-text {
    font-size: 2rem;
  }

  .contact-info img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .banner-image {
    padding: 30px 10px;
  }

  .client-text {
    font-size: 1.5rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.95rem;
  }

  .contact-form button {
    font-size: 0.95rem;
  }
}
