.marq-wrapper {
  padding: 20px 0;
  will-change: transform;
}
.img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 53px;
  will-change: transform;
}

.marq-img {
  height: 80px;
  width: auto;
  will-change: transform;
  transition: transform 0.3s ease;
  overflow: hidden;
  will-change: transform;
}
